[Unit]
Description=Pi Attention Flask
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/pi-attention/receiver
ExecStart=puthon3 /home/pi/pi-attention/receiver/main.py
Restart=always

[Install]
WantedBy=multi-user.target