[Unit]
Description=Pi Attention Flask
After=network.target

[Service]
WorkingDirectory=/home/pi/pi-attention/receiver
ExecStart=python3 /home/pi/pi-attention/receiver/main.py
Restart=always

[Install]
WantedBy=multi-user.target